body {
    color: #363636;
}

/* .header-add{
    border-bottom: 2px solid #444444;
} */
.link-return {
    margin-bottom: 28px;
    font-weight: 500;
}

.registration-add {
    margin-bottom: 28px;
}

.registration {
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 600;
}

.ps {
    font-weight: 500;
}

.form-filling {
    font-family: "Ubuntu";
    font-size: 20px;
    display: grid;
    column-gap: 24px;
    row-gap: 18px;

    grid-template-columns: 340px 396px;
    grid-template-areas:
        "address-home address-home"
        "contacts contacts"
        "description-animal description-animal"
        "animals photo"
        "old photo"
        "dimensions photo"
        "gender-add photo"
        "button-send photo";
}

.address-home {
    grid-area: address-home;
}

.address-home input {
    width: 762px;
    height: 60px;
    border: 2px solid #363636;
    border-radius: 4px;
    margin-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.contacts {
    grid-area: contacts;
}

.contacts input {
    width: 762px;
    height: 60px;
    border: 2px solid #363636;
    border-radius: 4px;
    margin-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.description-animal {
    grid-area: description-animal;
}

.description-animal textarea {
    width: 100%;
    margin-top: 12px;
    resize: vertical;
    height: 140px;
    border: 2px solid #363636;
    border-radius: 4px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.animals {
    grid-area: animals;
}

.animals label {
    display: inline-block;
    margin-bottom: 12px;
}

.animals select {
    width: 100%;
    height: 60px;
    border: 2px solid #363636;
    border-radius: 4px;
    color: #666252;
    padding-left: 24px;
}

.dimensions {
    grid-area: dimensions;
}

.dimensions label {
    display: inline-block;
    margin-bottom: 12px;
}

.dimensions select {
    width: 100%;
    height: 60px;
    border: 2px solid #363636;
    border-radius: 4px;
    color: #666252;
    padding-left: 24px;
}

.old {
    grid-area: old;
}

.older-from {
    width: 100%;
    height: 60px;
    margin-top: 12px;
    border: 2px solid #363636;
    border-radius: 4px;
    padding-left: 24px;
}

.gender-add {
    grid-area: gender-add;
    display: grid;
    grid-template-columns: 39px 40px;
    grid-template-rows: 23px 23px;
    column-gap: 12px;
    row-gap: 12px;
    grid-template-areas:
        "pol-add pol-add"
        "man-add woman-add";
}

.gender-add label {
    grid-area: pol-add;
}

.man-add {
    grid-area: man-add;
}

.woman-add {
    grid-area: woman-add;
}

.button-send {
	position: relative;
    grid-area: button-send;
	width: max-content;
}

.button-send button {
    width: 216px;
    height: 55px;
    border-radius: 4px;
}

.button-send button:not(:disabled) {
	background-color: #363636;
    color: #C5C5C5;
    cursor: pointer;
}

.button-send button:hover:not(:disabled) {
    background-color: #C5C5C5;
    color: #363636;
    transition: 0.3s;
}

.button-send button:disabled{
	background-color: #BBBBBB;
    color: #363636;
	cursor: auto;
	outline: 2px solid #363636;
}