.animals-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.animal-card__wrap-photo{
    width: 264px; 
    height: 171px; 
    border-radius: 6px;
    background-color: #363636;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;    ;
}