.footer{
    background-color: #363636;
    color: #FFFFFF;
}
.footer__content{
    /* width: 1440px;  */
    /* height: 180px;  */
    /* background-color: #363636;  */
    padding-top: 38px; 
    padding-bottom: 84px;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    /* padding-left: 129px; 
    padding-right: 130px; */
}
.footer__thank{
    font-size: 18px; 
    font-weight: 500;
    grid-column: 1; 
    /* margin-right: 717px; 
    display: inline-block; 
    margin-bottom: 12px; 
    margin-top: 0px; */
}
.footer__email{
    font-size: 18px; 
    font-weight: 500;
    grid-column: 2;
    margin-left: auto;
    margin-right: 0px;  
    /* display: inline-block; 
    margin: 0px; */
}
.footer__project{
    font-size: 18px; 
    font-weight: 500;
    grid-column: 1;  
    /* margin: 0px; */
}