.form{
    /* padding-bottom: 20px;   */
    margin-bottom: 20px; 
}
.filters{
    /* width: 704px; 
    height: 210px; 
    */
    display: grid;
    grid-template-columns: repeat(2, 340px);
    column-gap: 24px;
    row-gap: 12px;
    grid-template-areas: 
        "title title"
        "type size"
        "gender button";
    
}
.filters__title{
    font-weight: 700; 
    grid-area: title;
}
.type{
    /* width: 340px;  */
    /* height: 77px;  */
    font-family: Ubuntu;
    display: flex; 
    flex-direction: column;
    gap: 12px;
    grid-area: type;
}
.type label{
    display: inline-block; 
    font-weight: 400; 
    font-size: 18px;
}
.type select{
    width: 100%; 
    height: 44px; 
    padding: 11.5px 24px; 
    font-weight: 400; 
    font-size: 18px; 
    border-radius: 4px; 
    border: 2px solid #363636;
}
.sizing{
    height: 77px; 
    font-family: Ubuntu; 
    grid-area: size;
    display: flex; 
    flex-direction: column;
    gap: 12px;  
}
.sizing label{
    display: block;  
    font-weight: 400; 
    font-size: 18px;
}
.sizing select{
    /* width: 100%;  */
    height: 44px; 
    padding: 11.5px 24px; 
    font-weight: 400; 
    font-size: 18px; 
    border-radius: 4px; 
    border: 2px solid #363636;
}
.gender{
    display: grid;
    grid-area: gender;
    grid-template-columns: 44px 44px;
    column-gap: 12px;
    row-gap: 8px;
    grid-template-areas: 
        "pol pol"
        "man woman";
}
.gender label{
    font-size: 18px;
    grid-area: pol;
}
.man{
    font-size: 18px;
    grid-area: man;
    height: 20px;
}
.woman{
    font-size: 18px;
    grid-area: woman;
    height: 20px;
}
/* .animal{
    width: 91px; 
    height: 56px; 
    font-family: Ubuntu; 
    margin-right: 341px; 
    display: inline-block; 
    font-size: 18px; 
}
.animal label{
    font-size: 18px; 
    margin-bottom: 12px; 
    display: block;
} */
.button-basic{
    font-family: Ubuntu; 
    font-size: 20px;
    grid-area: button;
    justify-self: end;
    display: flex;
    gap: 24px;
    align-self: end;
}
.button-basic button{
    width: 124px; 
    height: 44px; 
    cursor: pointer; 
    background-color: #363636; 
    color: #C5C5C5;
    border-radius: 4px;
}
.button-basic button:hover {
    background-color: #C5C5C5;
    color: #363636;
    transition: 0.3s;
}