.main__content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.postscript {
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: Lora;
}

.postscript span {
    font-weight: 700;
}